<%
base_url = Redmine::Utils.relative_url_root
base_url = base_url + '/' if base_url[-1] != '/'
%>

<% content_for :header_tags do %>
<script type='text/javascript'>
    // Reload the image
    var reloadAvatarMessage = function(success) {
        var par = $('avatar')
        var reloadLink = par.childElements()[1];
        par.removeChild(reloadLink);
        if(success) {
            var htmlText = par.innerHTML + "<strong style=\"color: green\">reloaded</strong>";
            par.update(htmlText);
        } else {
            var htmlText = par.innerHTML + "<strong style=\"color: red\">Failed</strong>.&nbsp;";
            par.update(htmlText);
            reloadLink.innerHTML = "Try again.";
            par.appendChild(reloadLink);
        }
    };

    var reloadAvatar = function() {
        //var user = window.location.pathname.split('/')[2]
        var url = '<%= base_url %>gemavatar/delete/<%= "#{@user.id}" %>'

        new Ajax.Request(url, {
            method: 'post',
            requestHeaders: {Accept: 'application/json'},
            onSuccess: function(resp) {
                var json = resp.responseText.evalJSON();
                reloadAvatarMessage(json.deleted);
            }
        });
    };
</script>
<% end %>
<p id="avatar"><%= label_tag 'avatar', 'Avatar image' %><a name="avatar" href="javascript:void(0)" onclick="reloadAvatar();">Reload</a></p>
